.control_panel{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 600px;
}

.control_list {
    background-color: rgb(34, 32, 32);
    color: white;
}

.control_panel > .control_list > .control_list > ul > li, a {
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.control_items_queries{
    justify-content: center;
    height: auto;
    font-size: 20px;
    font-weight: bold;
} 

.footer_queries{ 
    display: grid;
    grid-template-columns:  1fr 1fr; 
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 200%;
  }
  