 body{
    margin: 0px;
    border: 0px;
    background-color: black;
    overflow-x: hidden;

}

.navbar h2{
  text-align: start;
  margin-left: 8px;
}
.navbar{
  display: grid;
  grid-template-columns:  8fr .5fr .6fr 1fr .7fr .5fr .9fr;
  background-color:black;
  color: white;
}
.navbar a{
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding-top: 300px;
}

.btn{
  height: 10px;
  padding-top: 20px;
  text-transform: uppercase;
}
.content{
  display: flex;
}
.subcontent{
  flex: 1;
  height: 535px;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
}
.sidebar{
  flex: 1;
  height: 535px;
}
.size{
  height: 100px;
  width: 100px;
}
#size{
  height: 535px;
  width: auto;
}
.footer{
  color: white;
}
.footer{
  display: grid;
  grid-template-columns:  8fr .9fr .9fr .9fr ;
  background-color:black;
  color: white;
}
.footer a{
  color: white;
  text-decoration: none;
  padding-top: 300px;
}
.footer h3{
  font-weight: normal;
}
.cont{
  color: white;
  font-size: 32px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.clicks{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: .7em;
}
.clicks1{
  justify-items: start;
  font-size: 15px;
  font-weight: normal;
  padding-left: 20px;
  padding: 7px;
  color: black;
  background-color: #F3C00A;
  border-radius: 20px;
}
.clicks2{
  justify-items: end;
  font-size: 15px;
  font-weight: normal;
  padding-right: 20px;
  padding: 7px;
  border: 1px solid white;
  border-radius: 20px;
}