*{
  margin: 0px;
  border: 0px;
}
body{
  margin: 0px;
  border: 0px;
  background-color: black;
}

.navbar h2{
  text-align: start;
  margin-left: 8px;
}

.navbar{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
  background-color:black;
  color: white;
  justify-items: center;
}

.navbar a{
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding-top: 300px;
}

.navbar a:hover{
  color: #F3C00A;
  transition: ease-in .5s;
}

.navbar a:active{
  color: #F3C00A;
  transition: ease-in .5s;
}

.fix-nav{
  height: 60px;
  width: 100%;
  position: fixed;
  background-color:black;
}

.btn{
  height: 10px;
  padding-top: 20px;
  text-transform: uppercase;
}

.btn1{
  height: 10px;
  padding-top: 20px;
  text-transform: uppercase;
  justify-content: center;
}

.btn2{
  height: 10px;
  padding-top: 20px;
  text-transform: uppercase;
}

.container{
  flex: 3;
  height: auto;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
}

.subcontainer1{
  font-size: larger;
  color: white;
}

.subcontainer2{
  font-size: larger;
  color: white;
}

.subcontainer3{
  font-size: larger;
  color: white;
}

.subcontainer4{
  font-size: larger;
  color: white;
}

.cont{
  display: grid;
  color: white;
  font-size: 32px;
  justify-items: center;
  align-items: center;
  width: 500px;
  height: 500px;
}

.footer{
  color: white;
}

.footer{
  display: grid;
  grid-template-columns:  1fr 1fr;
  background-color:black;
  color: white;
  justify-items: center;
}

.footer a{
  color: white;
  text-decoration: none;
  padding-top: 300px;
}

.span-color{
  color:#F3C00A;
}

.footer img{
  background-color: white;
}

#logo{
  height: 20px;
  width: 20px;
}

.information{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.introduction{
  
  padding: 50px;
  border-radius: .3em;
  margin-bottom: 10px;
}

.picture{
  width: 500px;
  height: 500px;
}

.about {
  color: white;
  justify-content: center;
}

.subcontent .about{
  display: grid;
}

.about1{
  justify-self: center;
}

.about2{
  font-size: 35px;
  opacity: 30%;
}

.smallIntro{
  text-align: center;
  
  font-size: 30px;
  padding: 2px;
  opacity: 70%;
}

.name{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em 0em 0em 1em;
}

.bday{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em 0em 0em 1em;
}

.address{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em 0em 0em 1em;
}

.zipcode{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em 0em 0em 1em;
}

.email{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em 0em 0em 1em;
}

.phone{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em 0em 0em 1em;
}

.name2{
  opacity: 70%;
}

.bday2{
  opacity: 70%;
}

.address2{
  opacity: 70%;
}

.zipcode2{
  opacity: 70%;
}

.email2{
  opacity: 70%;
}

.phone2{
  opacity: 70%;
}

.containerBlog{
  display: grid;
  gap: 1em;
}

.containerBlog, .blog{
  flex: 1;
  text-align: center;
  color: white;
}

.head1{
  font-size: 50px;
  font-weight: bolder;
}

.head2{
  font-size: 70px;
  font-weight: bolder;
  opacity: 30%;
}

.smallIntroBlog{
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  padding: 2px;
  opacity: 70%;
}

.blogs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  padding-left: .7em ;
  padding-right: .7em ;
}

.blog1{
  display: flex;
  flex-direction: column;
}

.pictureBlog{
  height: 60%;
  width: 60%;
  padding-left: 50px;  
}

#imageBlog{
  height: 200px;
  width: 200px;
  border-radius: 1em;
}
.titleBlog{
  justify-content: center;
  font-weight: bolder;
  padding-top: 30px;  
 }

.bodyBlog{
  justify-content: center;
  padding-top: 10px;
 }


.containerEducation, .Education{
  flex: 1;
  text-align: center;
  color: white;
  padding: 50px;
}

.smallIntroEducation{
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  padding: 2px;
  opacity: 70%;
}

.Educations{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  padding-left: .7em ;
  padding-right: .7em ;
}

.Education1{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 20px;
}

.pictureEducation{
  height: 250px;
  width: 100%;
  background-color: rgb(34, 32, 32);
  border-radius: 1em;
}

#imageEducation{
  height: 300px;
  width: 300px;
  border-radius: 1em;
}
.year{
  padding-top: 15px;
  font-weight: bolder; 
  text-align: start;
  padding-left: 10px;
  color: #F3C00A;
 }
.degree{
  padding-top: 15px;
  font-weight: bolder; 
  text-align: start;
  padding-left: 10px;
 }
.institution{
  padding-top: 15px;
  font-weight: bolder; 
  text-align: start;
  padding-left: 10px;
  opacity: 60%;
 }

.bodyEducation{
  display: grid;
  padding-left: 10px;
  padding-top: 10px;
 }
.paragraph{
  padding-bottom: 1em;
  font-size: 20px;
 }

 .containerSkills-Resume, .Skills-Resume{
  flex: 1;
  text-align: center;
  color: white;
  padding: 50px;
}

.smallIntroSkills-Resume{
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  padding: 2px;
  opacity: 70%;
}

.smallIntroSkills-Resume-tech{
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  padding: 2px;
}

.smallIntroSkills-Resume-lang{
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  padding: 2px;
}

.lang{
  font-size: 20px;
}

.Skills-Resumes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  padding-left: .7em ;
  padding-right: .7em ;
}

.Skills-Resume1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  padding: 1.5em ;
}

.skill{
  font-weight: bolder;
  font-size: 30px;
  color: #F3C00A;
  margin: 0 10px;
}

.skill-lang{
  font-weight: bolder;
  font-size: 30px;
  color: #F3C00A;
  margin: 0 10px;
  padding: 20px;
}

.pictureSkills-Resume{
  height: 250px;
  width: 100%;
  background-color: rgb(34, 32, 32);
  border-radius: 1em;
}

#imageSkills-Resume{
  height: 300px;
  width: 300px;
  border-radius: 1em;
}

.titleResume{
  justify-content: center;
  font-weight: bolder;
  padding-top: 30px;  
  color: #F3C00A;
 }

 .pictureResume{
  height: 60%;
  width: 60%;
  padding-left: 50px;  
}

#imageResume{
  height: 200px;
  width: 200px;
  border-radius: 1em;
}

.resume1{
  display: flex;
  flex-direction: column;
}

.resumes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  padding-left: .7em ;
  padding-right: .7em ;
}

.smallIntroResume{
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  padding: 2px;
  opacity: 70%;
}

.containerResume{
  display: grid;
  gap: 1em;
}

.containerResume, .resume{
  flex: 1;
  text-align: center;
  color: white;
}

.yearResume{
  justify-content: center;
  font-weight: bolder;
  padding-top: 30px;  
  color: #F3C00A;
 }

 .bodyResume{
  justify-content: center;
  padding-top: 10px;
 }

 .containerProject{
  display: grid;
  gap: 1em;
}

.containerProject, .project{
  flex: 1;
  text-align: center;
  color: white;
}

.smallIntroProject{
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  padding: 2px;
  opacity: 70%;
}

.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  padding-left: .7em ;
  padding-right: .7em ;
}

.project1{
  display: flex;
  flex-direction: column;
}

.pictureProject{
  height: 60%;
  width: 60%;
  padding-left: 50px;  
}

#imageProject{
  height: 200px;
  width: 200px;
  border-radius: 1em;
}

.projectTitle{
  justify-content: center;
  font-weight: bolder;
  padding-top: 30px;  
  color: #F3C00A;
 }

 .projectResume{
  justify-content: center;
  padding-top: 10px;
 }

 .containerProject a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.containerContact{
  height: 0 auto;
  width: 95%;
  background-color: rgb(34, 32, 32);
  border-radius: .5em;
  margin-left: 25px;
}

.contacts{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  padding-left: .7em ;
  padding-right: .7em ;
}

.contact1{
  display: flex;
  flex-direction: column;
}

.contact, .head1{
  color: white;
  text-align: center;
}

.smallIntroContact{
  text-align: center;
  font-weight: bolder;
  color: white;
  font-size: 30px;
  padding: 2px;
  opacity: 70%;
}

.contactForm{
  height: 60%;
  width: 60%;
  padding-left: 50px;  
}






.forms-create{
  max-width: 700px;
  margin: auto;
  padding: 40px;
  justify-content: center;
}

.forms-create > form input[type=text]#create{
  height: 30px;
  width: 100%;
  margin: 5px;
  color: black;
  font-weight: bold;    
  border-radius: .5em;    
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.4);
}

.forms-create > form textarea{
  height: 300px;
  width: 100%;
  margin: 5px;
  color: black;
  font-weight: bold;    
  border-radius: .5em;   
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.4);
}
    

.subcontentContact{
  display: flex;
  flex: 2;
  height: 535px;
  background-color: #e0efff;
  font-size: 20px;
  font-weight: bold;
  }

.forms-create{
  flex: 1;
  text-align: center;
}

.forms-create .send{
  background-color: green;
  color: black;
  font-weight: bold;    
  border-radius: .5em;  
  margin-top: 20px;
  padding: 10px 25px 10px 25px;
}

.imageContact #imageContact { 
  flex: 1; 
  height: 100%;
  width: 600px;
}

@media screen and (min-width:320px) and (max-width:568px) {

  .introduction > .picture{    
    width: 100%;
    height: 500px;
  } 

  .subcontentContact .imageContact{
    display: none;
  }

  .about2 {
    display: none;
  }

  .about1 {
    font-size: 50px;
  }

  .head2 {
    display: none;
  }

  .container {
    margin-left: 90px;
  }

  .containerEducation {
    padding: 0px;
  }

  .smallIntroEducation, .paragraph, .Educations {
    margin-left: 100px;
  }

  .containerEducation > .Education > .head1{
    margin-left: 30px;
  }

  .Skills-Resume1{
    margin-right: 30px;
  }

  .containerProject {
    margin-right: 200px;
  }

  .containerSkills-Resume > .Skills-Resume > .head1 {
    margin-left: 35px;
  }

  .containerSkills-Resume > .smallIntroSkills-Resume{
    margin-left: 40px;
  }
  .containerSkills-Resume > .smallIntroSkills-Resume-tech {
    margin-left: 50px;
  }

  .containerSkills-Resume > .smallIntroSkills-Resume-lang {
    margin-left: 50px;
  }

  .containerSkills-Resume > .Skills-Resumes > .Skills-Resume1 > .skill-lang {
    margin-left: -45px;
  }

  .containerProject {
    margin-left: 50px;
  }

  .containerResume {
    margin-left: 50px;
  }

  .containerBlog {
    margin-left: 50px;
  }

  .containerContact {
    margin-left: 45px;
  }
}

@media screen and (min-width:375px) and (max-width:667px) {
  
  .introduction .picture{
    display: none;
  }

  .subcontentContact .imageContact{
    display: none;
  }

  .about2 {
    display: none;
  }

  .about1 {
    font-size: 50px;
  }

  .head2 {
    display: none;
  }

  .container {
    margin-left: 10px;
  }

  .smallIntroEducation, .paragraph, .Educations {
    margin-left: 20px;
  }

  .containerEducation > .Education > .head1{
    margin-left: 30px;
  }

  .Skills-Resume1{
    margin-right: 30px;
  }

  .containerProject {
    margin-right: 200px;
  }

  .containerSkills-Resume > .Skills-Resume > .head1 {
    margin-left: 10px;
  }

  .containerSkills-Resume > .smallIntroSkills-Resume{
    margin-left: 20px;
  }
  .containerSkills-Resume > .smallIntroSkills-Resume-tech {
    margin-left: 30px;
  }

  .containerSkills-Resume > .smallIntroSkills-Resume-lang {
    margin-left: 10px;
  }

  .containerSkills-Resume > .Skills-Resumes > .Skills-Resume1 > .skill-lang {
    margin-left: -60px;
  }

  .containerSkills-Resume > .Skills-Resumes > .Skills-Resume1 > .skill {
    margin-left: -5px;
  }

  .containerProject {
    margin-left: 40px;
  }

  .containerResume {
    margin-left: 35px;
  }

  .containerBlog {
    margin-left: 30px;
  }

  .containerContact {
    margin-left: 10px;
  }
}

@media screen and (max-width:600px){
  
  .introduction .picture{
    display: none;
  }

  .subcontentContact .imageContact{
    display: none;
  }

  .about2 {
    display: none;
  }

  .about1 {
    font-size: 50px;
  }

  .head2 {
    display: none;
  }

  .container {
    margin-left: 10px;
  }

  .smallIntroEducation, .paragraph, .Educations {
    margin-left: 20px;
  }

  .containerEducation > .Education > .head1{
    margin-left: 30px;
  }

  .Skills-Resume1{
    margin-right: 30px;
  }

  .containerSkills-Resume > .Skills-Resume > .head1 {
    margin-left: 10px;
  }

  .containerSkills-Resume > .smallIntroSkills-Resume{
    margin-left: 20px;
  }
  .containerSkills-Resume > .smallIntroSkills-Resume-tech {
    margin-left: 30px;
  }

  .containerSkills-Resume > .smallIntroSkills-Resume-lang {
    margin-left: 10px;
  }

  .containerSkills-Resume > .Skills-Resumes > .Skills-Resume1 > .skill-lang {
    margin-left: -60px;
  }

  .containerSkills-Resume > .Skills-Resumes > .Skills-Resume1 > .skill {
    margin-left: -5px;
  }

  .containerProject {
    margin-left: 140px;
  }

  .containerResume {
    margin-left: 35px;
  }

  .containerBlog {
    margin-left: 140px;
  }

  .containerContact {
    margin-left: 10px;
  }
}

@media screen and (max-width:900px){


  .subcontentContact .imageContact{
    display: none;
  }

  .about2 {
    display: none;
  }

  .about1 {
    font-size: 50px;
  }

  .head2 {
    display: none;
  }

  .container {
    margin-left: 10px;
  }

  .Educations {
    margin-left: 180px;
    gap: 1em;
  }

  .containerEducation > .Education > .head1{
    margin-left: 30px;
  }

  .Skills-Resume1{
    margin-right: 30px;
  }

  .containerSkills-Resume > .Skills-Resume > .head1 {
    margin-left: 10px;
  }

  .containerSkills-Resume > .smallIntroSkills-Resume{
    margin-left: 20px;
  }
  .containerSkills-Resume > .smallIntroSkills-Resume-tech {
    margin-left: 30px;
  }

  .containerSkills-Resume > .smallIntroSkills-Resume-lang {
    margin-left: 10px;
  }

  .containerSkills-Resume > .Skills-Resumes > .Skills-Resume1 > .skill-lang {
    margin-left: 20px;
  }

  .containerSkills-Resume > .Skills-Resumes > .Skills-Resume1 > .skill {
    margin-left: 20px;
  }

  .containerProject > .projects {
    margin-left: 30px;
  }

  .containerResume {
    margin-left: 35px;
  }

  .containerBlog {
    margin-left: 60px;
  }

  .containerContact {
    margin-left: 10px;
  }
}



@media screen and (max-width:1200px){


  .subcontentContact .imageContact{
    display: none;
  }

  .about2 {
    display: none;
  }

  .about1 {
    font-size: 50px;
  }

  .head2 {
    display: none;
  }

  .container {
    margin-left: 10px;
  }

  .Educations {
    margin-left: px;
  }

  .containerEducation > .Education > .head1{
    margin-left: 30px;
  }

  .Skills-Resume1{
    margin-right: 30px;
  }

  .containerSkills-Resume > .Skills-Resume > .head1 {
    margin-left: 10px;
  }

  .containerSkills-Resume > .smallIntroSkills-Resume{
    margin-left: 20px;
  }
  .containerSkills-Resume > .smallIntroSkills-Resume-tech {
    margin-left: 30px;
  }

  .containerSkills-Resume > .smallIntroSkills-Resume-lang {
    margin-left: 10px;
  }

  .containerSkills-Resume > .Skills-Resumes > .Skills-Resume1 > .skill-lang {
    margin-left: 20px;
  }

  .containerSkills-Resume > .Skills-Resumes > .Skills-Resume1 > .skill {
    margin-left: 20px;
  }

  .containerProject > .projects {
    margin-left: 5px;
  }

  .containerResume {
    margin-left: 35px;
  }

  .containerBlog {
    margin-left: 60px;
  }

  .containerContact {
    margin-left: 25px;
  }
}


.card{
  box-shadow: 1px 10px 20px rgb(173, 171, 171);
  border-radius: .5em;
  text-align: center;
  background-color: #F3C00A;
  padding: 5px;
  width: 40%;
  margin: 5px auto;
}